{% extends "base.html" %}
{% block content %}
    <div class="container-fluid vh-100">
        <div class="row h-50">
            {% include 'todo_crud_app/include/create_task.html' %}
            {% include 'todo_crud_app/include/update_task.html' %}
        </div>
        <div class="row h-50">
            {% include 'todo_crud_app/include/delete_task.html' %}
            {% include 'todo_crud_app/include/list_task.html' %}
        </div>
    </div>
{% endblock content %}
{% block javascript %}
    <!-- your HTML content -->
{% endblock javascript %}
