{% extends "base.html" %}
{% block content %}
    <div class="container-fluid vh-100">
        <div class="row h-50">
            {% include 'todo_crud_app/include/create_task.html' %}
            {% include 'todo_crud_app/include/update_task.html' %}
        </div>
        <div class="row h-50">
            {% include 'todo_crud_app/include/delete_task.html' %}
            {% include 'todo_crud_app/include/list_task.html' %}
        </div>
    </div>
{% endblock content %}
{% block javascript %}
    {{ block.super }}
    <script>
        "use strict";


        document.getElementById('getListBtn').addEventListener("click", () => getAllTask(event, "{% url 'task:tasks' %}") )

        function getAllTask(event, url) {
            fetch(url, {
                method: 'GET', 
            	headers: { 'Content-Type': 'application/json' } ,
            })
            .then(response => response.json())
            .then(data => {
                const taskList = document.getElementById('todoList')
                taskList.innerHTML = "";

                data.context.forEach( task => {
                    taskList.innerHTML += `
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." ${ task.completed ? 'checked' : ''} disabled>
                        ${task.title}
                    </li>`
                })

            })
            
        }
        

    </script>
{% endblock javascript %}
